// Product Styles for Homepage and Products Page

// *******Home Page***********
.product {
  box-sizing:border-box;
  position:relative;
  min-height:225px;
}
.product-caption{
  box-sizing: border-box;
  width: 100%;
  position:absolute;
  bottom:0;
  height:100px;
  background: rgba(0, 0, 0, 0.6);}
.product-caption a:link, .product-caption a:visited{
  color:white;
  font-size:16px;
  padding:10px 20px;
  text-decoration:underline;
}
.product-caption a:hover, .product-caption a:focus{
  color: #4e9cea;
}
.margin-bottom{
  margin-bottom:20px;
}
